  $couleur-base: #004d40;
* {
  box-sizing: border-box;
}

.container {
  #img{
    img{
      margin-top: 1.5rem;
      height: 400px;
    }
  }

  .titre-page {
    background-color: $couleur-base;
  }

  .monForm {

    width: 30%;
    border: 1px solid #cfd8dc;

    form {
      margin: 1rem 2rem;

      .form-control, .btn {
        border-radius: 0;
      }

      .btn-valider {
        background-color: $couleur-base;
        color: white;
      }
    }
  }

  #register {

    .btn-valider {
      background-color: $couleur-base;
      color: white;
      border-radius: 0;
      margin-bottom: .5rem;
    }
  }
}
#login{
  width: 30%;
  margin-top: 3rem;
  .form-signin {
    border: 1px solid #cfd8dc;
    img{
      text-decoration-color: $couleur-base;
    }
    .btn-connexion {
      background-color: $couleur-base;
      color: white;
    }
  }

}